.portfolio__container{
    display: flex;
    flex-direction: column;
}

.portfolio__container__mobile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.portfolio__container__desktop{
    display: none;
}

@media (min-width:425px) {
    .portfolio__container{
        flex-direction: row;       
    }
    .portfolio__container__mobile{
        display: none;
    }
    .portfolio__container__desktop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
